@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

* a {
  text-decoration: none;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

body {
  background-color: #696769;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .container {
  width: 85vw;
  max-width: 1400px;
  margin-top: 1rem;
}

body main .container .fondo {
  position: absolute;
  height: 37%;
  background-color: #b8546b;
  z-index: -2;
  width: 85vw;
}

body main .container .content {
  padding-top: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main .container .content .img {
  width: 50%;
}

body main .container .content .img img {
  width: 75%;
  margin-left: 20%;
}

body main .container .content .img .color {
  width: 33%;
  height: 200%;
  background-color: #e8aebc;
  position: absolute;
  top: 5%;
  left: 10rem;
  z-index: -1;
}

body main .container .content .img div.redes {
  font-size: 1.6rem;
  color: #696769;
  padding: 0.4rem;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  left: 10%;
}

body main .container .content .img div.redes a:hover {
  font-size: 2.2rem;
}

body main .container .content .img div.redes li {
  display: inline-block;
  padding: 0.8rem;
}

body main .container .content .img div.redes li a {
  color: #696769;
  text-decoration: none;
}

body main .container .content .texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  font-size: 2rem;
  padding-bottom: 4rem;
  padding-right: 1rem;
}

body main .container .content .texto .hola {
  font-size: 2.5rem;
  font-weight: bold;
  width: 15%;
  background-color: white;
  padding: 0.3rem;
  margin-bottom: 1.5rem;
}

body main .container .content .texto .nombre {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

body main .container .content .texto .description {
  margin-bottom: 1rem;
  color: white;
}

body main .container .content .texto button {
  color: #696769;
  border-style: none;
  margin-left: 25%;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 2rem;
  width: 35%;
  background-color: #e8aebc;
  font-size: 1.2rem;
  font-weight: bold;
}

body main .container .content section {
  width: 100%;
}

body main .container .content section p {
  justify-self: flex-start;
  font-size: 2.5rem;
  font-weight: bold;
  width: 35%;
  background-color: white;
  padding: 0.3rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

body main .container .content section .fondo-pjs {
  background-color: #b8546b;
  z-index: -1;
  height: 17rem;
  width: 85vw;
}

body main .container .content section .fondo-pjs p {
  position: relative;
  padding-left: 1rem;
  top: 2rem;
  margin-left: 1rem;
}

body main .container .content section .projects {
  position: relative;
  top: -10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main .container .content section .projects .project {
  width: 25%;
  padding: 1rem;
}

body main .container .content section .projects .project img {
  width: 100%;
}

body main .container .content section .on-top {
  position: relative;
  bottom: 9.2rem;
  opacity: 0;
  height: 9rem;
  background-color: white;
  font-size: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

body main .container .content section .on-top:hover {
  opacity: 90%;
}

body main .container .content section .other {
  position: relative;
  top: -15rem;
}

body main .container .content section .invite {
  position: relative;
  top: -15rem;
  width: 100%;
  background-color: transparent;
  font-size: 1.8rem;
}

body footer {
  text-align: center;
  padding: 2rem;
}

@media (max-width: 1200px) {
  html {
    font-size: 11px;
  }
  html body main .container .content .img .color {
    height: 180%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 9px;
  }
  html body main .container {
    width: 95vw;
  }
  html body main .container .fondo {
    width: 95%;
  }
  html body main .container .content {
    margin-top: 1rem;
  }
  html body main .container .content .img .color {
    height: 270%;
  }
  html body main .container .content section .fondo-pjs {
    width: 100%;
  }
  html body main .container .content section .projects {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  html body main .container .content section .projects .project {
    padding: 2rem;
    width: 50%;
  }
  html body main .container .content section .projects .project .on-top {
    display: none;
  }
  html body main .container .content section .projects .project .on-top img {
    border-width: 0.5rem;
    border-color: #e8aebc;
  }
  html body main .container .content section .projects .project .on-top {
    bottom: 15rem;
    height: 14rem;
  }
  html body main .container .content section .other {
    margin-top: 10rem;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 8px;
  }
  html body main .container .fondo {
    width: 100%;
  }
  html body main .container .content {
    margin-top: 0;
  }
  html body main .container .content .img {
    width: 90%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  html body main .container .content .img img {
    width: 65%;
    position: absolute;
    top: 19rem;
  }
  html body main .container .content .img .color {
    height: 600px;
  }
  html body main .container .content .texto {
    width: 95%;
    font-size: 2.7rem;
  }
  html body main .container .content .texto .hola {
    font-size: 3.5rem;
    width: 20%;
  }
  html body main .container .content .texto .nombre {
    margin: 0;
    margin-bottom: 77vw;
    font-size: 4rem;
  }
  html body main .container .content .texto button {
    margin-left: 55%;
    width: 35%;
    padding: 2rem;
    font-size: 2rem;
  }
  html body main .container .content section .fondo-pjs p {
    width: 50%;
  }
  html body main .container .content section .projects {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  html body main .container .content section .projects .project {
    width: 90%;
  }
  html body main .container .content section .other {
    top: -10rem;
  }
  html body main .container .content section .invite {
    top: -10rem;
  }
}
/*# sourceMappingURL=styles.css.map */