@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

* a {
  text-decoration: none;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

body {
  background-color: #696769;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .container {
  width: 85vw;
  max-width: 1200px;
  margin-top: 1rem;
}

body main .container .fondo {
  position: relative;
  height: 55vh;
  background-color: #b8546b;
  z-index: -2;
}

body main .container .content {
  position: relative;
  top: -50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main .container .content .img {
  width: 50%;
}

body main .container .content .img img {
  width: 75%;
  margin-left: 10%;
}

body main .container .content .img .color {
  width: 33%;
  height: 80%;
  background-color: #e8aebc;
  position: absolute;
  top: 5rem;
  left: 10rem;
  z-index: -1;
}

body main .container .content .img div.redes {
  font-size: 1.6rem;
  color: #696769;
  padding: 0.4rem;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  left: 10%;
}

body main .container .content .img div.redes a:hover {
  font-size: 2.2rem;
}

body main .container .content .img div.redes li {
  display: inline-block;
  padding: 0.8rem;
}

body main .container .content .img div.redes li a {
  color: #696769;
  text-decoration: none;
}

body main .container .content .texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  font-size: 2rem;
  padding-bottom: 4rem;
  padding-right: 5rem;
}

body main .container .content .texto .hola {
  font-size: 2.5rem;
  font-weight: bold;
  width: 15%;
  background-color: white;
  padding: 0.3rem;
  margin-bottom: 1.5rem;
}

body main .container .content .texto .nombre {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

body main .container .content .texto .description {
  margin-bottom: 1rem;
  padding-right: 5rem;
}

body main .container .content .texto p:nth-child(3) {
  padding-top: 1rem;
  color: white;
}

body main .container .content .texto p:nth-child(4) {
  color: white;
}

body main .container .content .texto button {
  color: #696769;
  border-style: none;
  margin-left: 25%;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  width: 35%;
  background-color: #e8aebc;
  font-size: 1.2rem;
  font-weight: bold;
}

body main .container .content section {
  width: 100%;
  margin-right: 7.5vw;
}

body main .container .content section p {
  justify-self: flex-start;
  font-size: 2.5rem;
  font-weight: bold;
  width: 35%;
  background-color: white;
  padding: 0.3rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

body main .container .content section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .container .content section div div {
  height: 15rem;
  width: 25%;
}

body main .container .content section div div:nth-child(2n) {
  background-color: green;
}

body main .container .content section .invite {
  width: 100%;
  background-color: transparent;
  font-size: 1.8rem;
  color: white;
}

body footer {
  text-align: center;
  padding: 2rem;
}
/*# sourceMappingURL=styles.css.map */