$back-col-all: #696769;
$med-col: #d3e0ea;
$dark-col: rgb(255, 238, 242);
//$dark-col: rgb(184, 84, 107);
$light-col: rgb(232, 174, 188);
$grey-col: #cfb3d4;

@mixin redes() {
    //font-size: 1.6rem;
    color: $dark-col;
    padding: 0.4rem;
    a {
        &:hover {
            color: $light-col;
            //font-size: 2.2rem;
        }
    }
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    a {
        text-decoration: none;
    }
    overflow-x: hidden;
}

html {
    font-family: "Lato", sans-serif;
    font-size: 14px;
}

body {
    background-color: $back-col-all;
    nav {
        display: flex;
        //justify-content: space-around;
        padding-left: 65%;
        a {
            color: white;
            text-decoration: none;
            //border-left: 1px black;
            border-left: solid;
            padding: 0.3rem 1.2rem;
            margin-top: 1rem;
            &:hover {
                color: $light-col;
            }
        }
    }
    main {
        display: flex;
        justify-content: center;

        .container {
            //width: 95vw;
            //max-width: 1400px;
            margin-top: 1rem;

            // .fondo {
            //     position: absolute;
            //     height: 37%;
            //     background-color: $dark-col;
            //     z-index: -2;
            //     width: 85vw;
            // }
            .content {
                padding-top: 3rem;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                .img-perfil {
                    width: 40%;
                    img {
                        width: 80%;
                        margin-left: 7%;
                        border-radius: 50%;
                    }
                }
                div.redes {
                    @include redes;
                    padding-top: 1rem;
                    ul {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                    }
                    li {
                        //display: inline-block;
                        padding: 0.8rem;
                        a {
                            text-decoration: none;
                            color: $dark-col;
                        }
                    }
                }
                .texto-presentacion {
                    display: flex;
                    flex-direction: column;
                    width: 60%;
                    font-size: 2rem;
                    padding-bottom: 4rem;
                    padding-left: 1.5rem;
                    padding-right: 2rem;

                    .hola {
                        font-size: 2.5rem;
                        font-weight: bold;
                        width: 15%;
                        background-color: white;
                        padding: 0.3rem;
                        margin-bottom: 1.5rem;
                    }
                    .nombre {
                        font-size: 3.5rem;
                        margin-bottom: 2rem;
                        font-weight: bold;
                    }
                    .description {
                        margin-bottom: 1rem;

                        color: white;
                    }
                    // p:nth-child(3) {
                    //     padding-top: 1rem;
                    //     color: white;
                    // }
                }
                section {
                    width: 100%;
                    .fondo-pjs {
                        background-color: $dark-col;
                        z-index: -1;
                        width: 100%;
                        // p {
                        //     position: relative;
                        //     padding-left: 1rem;
                        //     //top: 2rem;
                        //     //margin-left: 1rem;
                        // }
                        p {
                            //justify-self: flex-start;
                            font-size: 2.5rem;
                            font-weight: bold;
                            //width: 35%;
                            //background-color: white;
                            padding: 2.5rem 3rem;
                            padding-bottom: 1.5rem;
                            //margin-bottom: 1.5rem;
                            //margin-top: 1rem;
                        }
                        .lista {
                            //position: relative;
                            //top: -10rem;
                            display: flex;
                            width: 100%;

                            align-items: center;
                            justify-content: space-evenly;
                            flex-wrap: wrap;
                            .educ {
                                .edu {
                                    font-size: 1.6rem;
                                    text-align: center;
                                    padding: 0px 0px;
                                    
                                }
                                img {
                                    width: 30%;
                                }
                                background-color: lighten($back-col-all, 30%);
                            }
                            .educ,
                            .project {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: space-evenly;
                                width: 25%;
                                padding: 1rem;
                                min-height: 200px;
                            }
                        }
                        .skills {
                            margin-left: 2rem;
                            margin-right: 2rem;

                            .skill {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                width: 100px;
                                height: 150px;
                                padding: 0.8rem;
                                margin-left: 1rem;
                                margin-right: 1rem;
                                img {
                                    //width: 80%;
                                    max-height: 60%;
                                    object-fit: contain;
                                    margin: 20%;
                                }
                                p {
                                    font-size: 1rem;
                                    padding: 0px 0px;
                                }
                            }
                        }
                        .project {
                            
                            width: 15%;
                            padding: 1rem;
                            a{
                                display: flex;
                                flex-direction: column-reverse;
                                align-items: center;
                                font-weight: bold;
                                color: black;

                            }
                            img {
                                padding-bottom: 0.5rem;
                                width: 80%;
                            }
                            p {
                                font-size: 1rem;
                                padding: 0px 0px;
                            }
                        }
                    
                    // .on-top {
                    //     position: relative;
                    //     bottom: 9.2rem;
                    //     opacity: 0;

                    //     height: 9rem;
                    //     background-color: white;

                    //     font-size: 2rem;
                    //     width: 100%;
                    //     display: flex;
                    //     justify-content: center;
                    //     align-items: center;
                    //     color: black;
                    // }
                    // .on-top:hover {
                    //     opacity: 90%;
                    // }
                    // // 
                    // .other {
                    //         font-size: 2.5rem;
                    //         font-weight: bold;
                    //         padding: 2rem 3rem;
                    //      }
                    .invite {
                        // position: relative;
                        // top: -15rem;
                        width: 100%;
                        background-color: transparent;
                        font-size: 1.8rem;
                        //color: white;
                        padding-top: 0%;
                    }
                }
                }
                .section-pjs{
                   margin-top: 3rem;
                }
            }
            button {
                color: $back-col-all;
                border-style: none;
                margin-left: 32%;
                margin-top: 2rem;
                padding: 1rem;
                border-radius: 2rem;
                width: 35%;
                background-color: $light-col;
                font-size: 1.2rem;
                font-weight: bold;
                text-align: center;
                &:hover {
                    background-color: darken($light-col,5%);
                }
                a {
                    padding: 0rem 30%;
                }
            }
            
        }
        
    }
    footer {
        text-align: center;
        padding: 1.5rem;
        color: white;
    }
    @media (max-width: 1200px) {
        html {
            font-size: 11px;
            body {
                main {
                    .container {
                        .content {
                            .img {
                                .color {
                                    height: 180%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 900px) {
        html {
            font-size: 9px;
            body {
                main {
                    .container {
                        .fondo {
                            width: 95%;
                        }
                        width: 95vw;
                        .content {
                            .img {
                                .color {
                                    height: 270%;
                                }
                            }
                            margin-top: 1rem;
                            section {
                                .fondo-pjs {
                                    width: 100%;
                                }
                                .projects {
                                    flex-wrap: wrap;
                                    .project {
                                        padding: 2rem;
                                        width: 50%;
                                        .on-top {
                                            display: none;
                                            img {
                                                border-width: 0.5rem;
                                                border-color: $light-col;
                                            }
                                        }
                                        .on-top {
                                            bottom: 15rem;
                                            height: 14rem;
                                        }
                                    }
                                }

                                .other {
                                    margin-top: 10rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 650px) {
        html {
            font-size: 8px;
            body {
                main {
                    .container {
                        .fondo {
                            width: 100%;
                        }
                        .content {
                            margin-top: 0;
                            .img {
                                width: 90%;
                                order: 2;
                                img {
                                    width: 65%;
                                    position: absolute;
                                    top: 19rem;
                                }
                                .color {
                                    height: 600px;
                                }
                            }
                            .texto {
                                width: 95%;
                                font-size: 2.7rem;
                                .hola {
                                    font-size: 3.5rem;
                                    width: 20%;
                                }
                                .nombre {
                                    margin: 0;
                                    margin-bottom: 77vw;
                                    font-size: 4rem;
                                }
                                button {
                                    margin-left: 55%;
                                    width: 35%;
                                    padding: 2rem;
                                    font-size: 2rem;
                                }
                            }
                            section {
                                .fondo-pjs {
                                    p {
                                        width: 50%;
                                    }
                                }
                                .projects {
                                    flex-wrap: wrap;
                                    .project {
                                        width: 90%;
                                    }
                                }
                                .other {
                                    top: -10rem;
                                }
                                .invite {
                                    top: -10rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
